*{
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}

html{
  scroll-behavior: smooth;
}

.App {
  width:100%;
  position: relative;
  /*background-image: url("./images/bg1.png");*/
  background-position: fixed;
  background-size: contain; 
  background-color: #313639;
}

.row{
  margin:0;
}

.app-body{
  width: 100%;
}

.form{
  color: #313639;
  background-color: white;
  text-align: center;
  padding: 10px;
  height: 95vh;

}
.form-group{
  margin: 0;
}

.form-control{
  border: 0;
  box-shadow: none;
}

.header-group{
  text-align: center;
  margin: 0;
}

#header{
  margin-bottom: 0;
}
#header-two{
  font-size: 12px;
}

.rx{
  padding-left: 15px;
  font-weight: bold;
  margin: 0;
  font-size: 55px;
  text-align: left;
}
.form-group-patient{
  margin: 0;
  text-align: left;

}
#textarea{
  height: 50vh;
  font-size: 15px;
  padding: 0 25px;


}
.form-group-doctor{
  margin: 0;
  text-align: right;
}

/*class landing*/

.landing {
  width: 100%;
  height: 100vh;
  color: white;
}
.doctor-row{
  margin-top: 5px;
  margin-bottom: 20px;
}
#doctor{
  padding: 0 !important;
  text-align: right;
  overflow: visible;
  width: 100%;
  /*background: transparent;*/
}

.license{
  font-size: 12px;
}

#PRC,
#PTR{
  width: 100px;
}

input{
  padding:0 5px !important;
  background: transparent !important;
}

#signatureUploader{
  height: 50vh;
  width: 50%;
  background-color: #fff;
}
#preview{
  height:50px;
  width:100%;
  text-align: right;
}

 img{
     height: 60px;
     width:auto;
     border-radius: 10px;
     box-shadow: 0 0 1.2rem rgba(0,0,0,.25); 
     
    }



